@model TreKa.Models.OptionsModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml"; ;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AMRAP</title>
</head>
<body>
    @using (Html.BeginForm("CrassFat", "Set", FormMethod.Post))
    {
        <p>Ваш возраст <br /> @Html.TextBoxFor(x => x.Age, new { @type = "number" }) </p>
        <p>@Html.ValidationMessageFor(x => x.Age, "", new { @class = "text-danger" })</p>
        <p>Ваш рост <br /> @Html.TextBoxFor(x => x.Height, new { @type = "number" }) </p>
        <p>@Html.ValidationMessageFor(x => x.Height, "", new { @class = "text-danger" })</p>
        <p>Ваш вес <br /> @Html.TextBoxFor(x => x.Weight, new { @type = "number" }) </p>
        <p>@Html.ValidationMessageFor(x => x.Weight, "", new { @class = "text-danger" })</p>
        <p>Уровень Вашей подготовки: </p>
        <p>
            @Html.DropDownListFor(d => d.СoefficientOfSelectedLevel,
                               new SelectList(Model.Level, "Сoefficient", "Name"))
        </p>
        <p>Группы мышц для составления сета:</p>
        for (var i = 0; i < Model.CategoryItems.Count; i++)
        {
            <p>
                @Html.HiddenFor(x => x.CategoryItems[i].Id)
                @Html.CheckBoxFor(x => x.CategoryItems[i].IsSelected)
                <label>@Model.CategoryItems[i].Name</label>

            </p>
        }

        <input type="submit" value="Составить сет" />
    }
</body>
</html>
